header nav {
  padding: 8px 16px;
}

/* index.hbs (home page) */
#home #record a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#home #total-amount{
  font-size: 70px;
  color: rgb(241, 135, 6);
}

#home #record a:hover {
  color: gray;
}

#home #record li{
  height: 76px;
}

#home #record-function li{
  border: none;
}

#home #category {
  font-size: 20px;

  width: 100%;
  height: 45px;
  padding: 5px;

  display: block;
}

#home #new-btn {
  font-size: 20px;

  width: 30%;
  border: 1px solid black;

  display: block;
}

#home .delete{
  font-size: 20px;
  background-color: white;

  border: none;
}

#home .delete:hover {
 color: gray;
}

#home i {
  width: 50px;
}

/* new.hbs (new page) */
/* edit.hbs (edit page) */
#new, #edit{
  padding: 5% 25%;
}

#new label, #edit label{
  font-size: 20px;
}

#new p, #edit p{
  font-size: 15px;
}

#new button, #edit button{
  width: 100%;
}

#login i, #register i{
  color: gray;
}

#login i:hover, #register i:hover {
  color: black;
}

#login #breakPoint, #register #breakPoint{
  display: flex;
  align-items: center;

  margin: 20px 0;
}

#login #breakPoint span, #register #breakPoint span {
  font-size: 16px;
  margin: 0 15px;

  color: gray;
}

#login #breakPoint .line, #register #breakPoint .line{
  flex: 1;
  position: relative;

  border-bottom: 1px solid rgb(193, 199, 198);
}